<!DOCTYPE html>
<html>
  <head>
    <title>Magic:theGathering API System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id='background_<%= (0..90).to_a.sample %>' class='background' >
      <div id='content'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
